@charset "utf-8";

@font-face {
    font-family: 'beanpoleotM00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/beanpoleotM00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beanpoleotL00';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/beanpoleotL00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-logo {
    width: 700px;
    height: 700px;
    object-fit: cover;
}

.beanpole-medieum {
    font-family: 'beanpoleM00';
}

.beanpole-light {
    font-family: 'beanpoleL00';
}