{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>멋사X항공대 지원하기</title>
        <link rel="stylesheet" href="{% static 'css/thankyou.css' %}" type="text/css">
    </head>

    <body>
        <div class="all-container">
            <div class="logo-container">
                <img class="main-logo" src="{% static 'img/삽입로고 배경 x.png' %}">
            </div>
            <p class="thank-you">지원해주셔서 감사합니다</p>
            <div class="link-container">
                <p class="sns-text">멋쟁이사자처럼 X 한국항공대학교 SNS</p>
                <div class="sns-container">
                    <a href="https://www.instagram.com/kau_likelion/"><img class="sns-logo" src="{% static 'img/인스타그램.png' %}"/></a>
                    <a href="https://www.youtube.com/channel/UCM0RbQhXYLbcWPnfWq2J5Zw"><img class="sns-logo" src="{% static 'img/유튜브.png' %}"></a>
                    <a href="https://www.facebook.com/likelion.kau/"><img class="sns-logo" src="{% static 'img/페이스북.png' %}"></a>   
                </div>
            </div>
        </div>
        
    </body>
</html>